In [26]:
import numpy as np
import pandas as pd

Generate a pandas dataframe with 1 column and 100 rows of random numbers

Create a second column with a value for the quantile the number is in

In [27]:
df = pd.DataFrame((np.random.randint(low = 0, high = 100,size=100)))

df.quantile(q=[.25,.5,.75])

          0
0.25  23.75
0.50  43.00
0.75  73.25

In [40]:
df['quantile'] = np.where(df < df.quantile(.25), '1', 
                     np.where(df < df.quantile(.50), '2', 
                              np.where(df < df.quantile(.75), '3', 
                                       np.where(df <= df.quantile(1), '4', None))) )

In [41]:
df

     0 quantile
0   40        2
1   81        4
2   60        3
3    0        1
4   50        3
..  ..      ...
95  13        1
96  24        2
97  74        4
98  73        3
99  49        3

[100 rows x 2 columns]